<div style="text-align: center ; background-color:lightgrey;height: 7rem; padding-top: 12px">
  <a href="#"><span style="padding-left: 40px;float: left"><img src="../../../assets/img/logo.png" height="130"
                                                                width="230"/></span></a>

  <input style="width: 200px" #searchName placeholder="search">
  <button (click)="search(searchName.value)">search</button>
  <a routerLink="/cart">
    <button><div class="cart-icon" >
      <i  class="fas fa-shopping-cart"></i>
      <span  class="cart-count">{{itemCount}}</span>
    </div></button>
  </a>
</div>
<br>
<br>
<div style="text-align: center">
  <h2 style="text-align: center;color: forestgreen;font-family: 'Muli', sans-serif ">LIST CV TEMPLATES 2023</h2>
</div>

<div class="row container-fluid" style="padding-left: 40px; " >
  <div *ngIf="cvPage.length === 0">
    <h4 style="color:red; text-align: center;padding:20px">There Are No CV On The List</h4>
  </div>
  <div class="row">
    <div class=" col-lg-3 col-sm-6 col-xs-12 flip-card-container" style="--hue: 170" *ngFor="let cvPages of cvPage">
      <div class="flip-card">

        <div class="card-front">
          <figure>
            <div class="img-bg"></div>
            <img
              src="{{cvPages.link}}"
              alt="Image 2">
            <figcaption>{{cvPages.name}}</figcaption>
          </figure>
        </div>

        <div class="card-back">
          <figure>
            <div class="img-bg"></div>
            <img
              src="https://images.unsplash.com/photo-1545436864-cd9bdd1ddebc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
              alt="image-2">
          </figure>
          <a>
            <button (click)="oder(cvPages.id)">Buy</button>
          </a>
          <a routerLink="/detailCv/{{cvPages.id}}">
            <button>Detail</button>
          </a>
          <div class="design-container">
            <span class="design design--1"></span>
            <span class="design design--2"></span>
            <span class="design design--3"></span>
            <span class="design design--4"></span>
            <span class="design design--5"></span>
            <span class="design design--6"></span>
            <span class="design design--7"></span>
            <span class="design design--8"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="div-paginable">
  <div *ngIf="teamPage" class="d-flex justify-content-center" id="last-row">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" [ngClass]="teamPage.first ? 'disabled': ''">
          <a role="button" class="page-link" (click)="changePage(0)"> << </a>
        </li>
        <li class="page-item" [ngClass]="teamPage.first ? 'disabled': ''">
          <a role="button" class="page-link" (click)="changePage(teamPage.number - 1)"><</a>
        </li>
        <li class="page-item" *ngIf="teamPage.number - 3 > 0">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number - 4)">{{teamPage.number - 3}}</a>
        </li>
        <li class="page-item" *ngIf="teamPage.number - 2 > 0">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number - 3)">{{teamPage.number - 2}}</a>
        </li>
        <li class="page-item" *ngIf="teamPage.number - 1 > 0">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number - 2)">{{teamPage.number - 1}}</a>
        </li>
        <li class="page-item" *ngIf="teamPage.number > 0">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number - 1)">{{teamPage.number}}</a>
        </li>
        <li class="page-item active"><a class="page-link">{{teamPage.number + 1}}</a></li>
        <li class="page-item" *ngIf="teamPage.number + 2 <= teamPage.totalPages">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number + 1)">{{teamPage.number + 2}}</a>
        </li>
        <li class="page-item" *ngIf="teamPage.number + 3 <= teamPage.totalPages">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number + 2)">{{teamPage.number + 3}}</a>
        </li>
        <li class="page-item" *ngIf="teamPage.number + 4 <= teamPage.totalPages">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number + 3)">{{teamPage.number + 4}}</a>
        </li>
        <li class="page-item" *ngIf="teamPage.number + 5 <= teamPage.totalPages">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number + 4)">{{teamPage.number + 5}}</a>
        </li>
        <li class="page-item" [ngClass]="teamPage.last ? 'disabled': ''">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.number + 1)">></a>
        </li>
        <li class="page-item" [ngClass]="teamPage.last ? 'disabled': ''">
          <a role="button" class="page-link"
             (click)="changePage(teamPage.totalPages - 1)">
            >>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

