<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h2 class="card-title text-isLoggedIncenter"> THAY ĐỔI MẬT KHẨU</h2>
          <form class="form-signin" [formGroup]="formChangePassword" (ngSubmit)="changePassword()">
            <div class="form-label-group" style="display: none">
              <label for="username">Username </label><span class="red">*</span>
              <input autofocus type="password" id="username" class="form-control" formControlName="username">
            </div>
            <div class="form-label-group">
              <label for="oldPassword">Mật khẩu cũ </label><span class="red">*</span>
              <input autofocus type="password" id="oldPassword" class="form-control" formControlName="oldPassword">
              <p
                *ngIf="formChangePassword.controls.oldPassword.touched&&formChangePassword.controls.oldPassword?.errors?.required"
                class="text-danger">
                Mật khẩu cũ không được để trống</p>
              <p
                *ngIf="formChangePassword.controls.oldPassword.dirty&&formChangePassword.controls.oldPassword?.errors.errorOldPasswordWrong"
                class="text-danger">
                Mật khẩu cũ sai
              </p>
            </div>
            <div class="form-label-group">
              <label for="newPassword">Mật khẩu mới</label><span class="red">*</span>
              <input autofocus type="password" id="newPassword" class="form-control" formControlName="newPassword">
              <p
                *ngIf="formChangePassword.controls.newPassword.touched&&formChangePassword.controls.newPassword?.errors?.required"
                class="text-danger">Mật khẩu mới không được để trống</p>
              <p
                *ngIf="formChangePassword.controls.newPassword.dirty&&formChangePassword.controls.newPassword?.errors?.minlength"
                class="text-danger">
                Mật khẩu có chứa ít nhất 8 kí tự</p>
            </div>
            <div class="form-label-group">
              <label for="inputPassword">Xác nhận mật khẩu</label><span class="red">*</span>
              <input type="password" id="inputPassword" class="form-control" formControlName="passwordConfirm">
              <p
                *ngIf="formChangePassword.controls.passwordConfirm.touched&&formChangePassword.controls.passwordConfirm?.errors?.required"
                class="text-danger">Phải xác nhận lại mật khẩu mới</p>
              <p
                *ngIf="formChangePassword.controls.passwordConfirm.dirty&&formChangePassword.controls.passwordConfirm?.errors?.minlength"
                class="text-danger">
                Mật khẩu có chứa ít nhất 8 kí tự</p>
              <p *ngIf="formChangePassword.controls.passwordConfirm.dirty&&
                        formChangePassword.controls.passwordConfirm.value!==formChangePassword.controls.newPassword.value"
                 class="text-danger">Xác nhận mật khẩu mới không đúng
              </p>
            </div>
            <button class="btn btn-lg btn-info text-uppercase" type="submit">Lưu thay đổi</button>
            <button class="btn btn-lg btn-secondary text-uppercase" type="button" routerLink="">
              Đóng
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

